@font-face {
    font-family: UbuntuMono;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/UbuntuMono-B.ttf) format('truetype');
}
@font-face {
    font-family: UbuntuMono;
    font-style: italic;
    font-weight: 400;
    src: url(fonts/UbuntuMono-BI.ttf) format('truetype');
}
@font-face {
    font-family: UbuntuMono;
    font-style: normal;
    font-weight: normal;
    src: url(fonts/UbuntuMono-R.ttf) format('truetype');
}
@font-face {
    font-family: UbuntuMono;
    font-style: italic;
    font-weight: normal;
    src: url(fonts/UbuntuMono-RI.ttf) format('truetype');
}



html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #eee;
    font-family: UbuntuMono;
    font-size: 14px;
    background-color: #121212;
}

