<!DOCTYPE HTML>
<html>
<head>
    <title></title>
${HEAD_CONTENT}
</head>
<body>
    <table id="main" cellspacing="0">
        <tr class="panes" id="panes">
            <td class="pane" id="pane-left">
                <div class="tabbar"></div>
                <div class="sep-h"></div>
                <input class="textbox pathbox" type="text" disabled />
                <div class="sep-h"></div>
                <div class="tabfiles"></div>
            </td>
            <td class="sep-v"></td>
            <td class="pane" id="pane-right">
                <div class="tabbar"></div>
                <div class="sep-h"></div>
                <input class="textbox pathbox" type="text" disabled />
                <div class="sep-h"></div>
                <div class="tabfiles"></div>
            </td>
        </tr>
    </table>
</body>
</html>
